@font-face {
    font-family: "inter-regular";
    src: url("./assets/fonts/Inter-Regular.ttf");
}
@font-face {
    font-family: "inter-medium";
    src: url("./assets/fonts/Inter-Medium.ttf");
}
@font-face {
    font-family: "inter-semibold";
    src: url("./assets/fonts/Inter-SemiBold.ttf");
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

body {
    font-family: "inter-regular";
    font-size: 1rem;
}

.outer-container {
    display: grid;
    grid-template-rows: 1fr 16fr 1fr;
    min-height: 100vh;
}

header {
    background-color: #AE763B;
    padding-left: 1.25rem;
    display: flex;
    align-items: center;
}
header > h1 {
    font-family: "inter-medium";
    font-size: 2rem;
    color: white;   
}

.content {
    background-color: #F1F1F1;
    padding-top: 4rem;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding-bottom: 4rem;
}
.add-book-btn {
    border: none;
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 1rem 1.75rem;
    font-family: "inter-semibold";
    font-size: 1.5rem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.5s ease;
}
.add-book-btn:hover {
    cursor: pointer;
    transform: scale(1.2);
}
dialog {
    border-radius: 8px;
    border: 1px solid #AE763B;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 32px 16px;
}
form {
    display: flex;
    flex-direction: column;
}
.text-input {
    height: 2rem;
    margin-top: 8px;
    border: 1px solid #AE763B;
}
form > label,
form > p {
    margin-top: 16px;
}
form > p {
    margin-bottom: 12px;
}
form > div {
    display: flex;
    align-items: center;
}
form > div > label {
    margin-right: 4px;
}
.radio-input {
    width: 24px;
    height: 24px;
    accent-color: #AE763B;
    margin-right: 16px;
}
.form-btn-container {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}
.form-btn {
    padding: 16px 20px;
    text-align: center;
    border: none;
    border-radius: 12px;
    color: white;
    background-color: black;
    transition: all 0.5s ease;
}
.content-grid {
    align-self: stretch;
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(280px, 1fr) );
    gap: 32px;
    justify-items: center;
}
.card {
    background-color: #AE763B;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 13.75rem;
    width: 100%;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.book-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.book-info > p {
    color: white;
}
.book-name {
    font-family: "inter-medium";
    font-size: 1.25rem;
}
.book-btn-container {
    display: flex;
    justify-content: space-between;
}
.book-btn-container > button {
    border: none;
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 0.5rem 1.5rem;
    transition: all 0.5s ease;
}
.book-btn-container > button:hover,
.form-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.book-btn-container > .read {
    background-color: #25B102;
}
.book-btn-container > .unread {
    background-color: #D20000;
}

footer {
    background-color: black;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}
footer > p {
    color: white;
    font-size: 1rem;
}
footer > a:hover {
    cursor: pointer;
    transform: scale(1.2);
}

@media only screen and (min-width: 640px) {
    .outer-container {
        grid-template-rows: 1fr 8fr 1fr;
    }
  }
